html, body {
    min-width: 230px;
    min-height: 100px;
}
body {
    --theme-text-color: black;
    --theme-background-color: white;

    padding: 5px;
    font-size: 14px;
    font-family: "Arial";

    color: var(--theme-text-color);
    background-color: var(--theme-background-color);
}
h1 {
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: solid 1px var(--theme-text-color);
}
.hint {
    margin: 10px 0;
}
.item-list > div {
    display: flex;
    align-items: center;
    margin: 8px 0;
    user-select: none;
}
.item-list > div input {
    margin: 0;
}
.item-list > div label {
    padding: 0 10px;
}
.chk-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 0;
    user-select: none;
}
.chk-container > input {
    margin: 0;
}
.custom-speed-container {
    display: flex;
    justify-content: space-between;
}
.nested-container {
    display: flex;
}
#custom-speed {
    margin: auto 5px auto 20px;
    max-width: 60px;
}
@media (prefers-color-scheme: dark) {
    body {
        --theme-text-color: white;
        --theme-background-color: hsl(0,0%,20%);
    }
}